body {
    background-color: #e2d6c3;
}

.centrarLista {
    display:block;
    text-align: center;
}

.centrarListaInterna {
    display:inline-block;
    font-size: 25px;
}

.separar {
    padding: 8rem;
}

.negrita {
    font-weight: bold;
}

footer p {
    background-color: rgb(177, 170, 170);
    text-align: center;
    margin-top: 2rem;
}

header {
    text-align: center;
}

.fondoNegro{
    background-color: rgb(0, 0, 0);
    color: white;
}

.navsPerfiles a {
    display: block;
}

.foto {
    width: 200px;
    height: 200px;
}

.colorNavs {
    background-color: darksalmon;
}

.colorHeader {
    background-color: darkgoldenrod;
}

.colorMain {
    background-color: blueviolet;
}